## Data Structures in Python (Data Science)

- 1) List
- 2) Set
- 3) Tuple
- 4) Dictionary

1) List
 - 1 dimention array
 - Heterogenous Datatype
 - Indexable & Sliceable
 - Allows duplicate elements
 - Mutable - Values can be changed later

In [1]:
grocery_shoping = []

In [2]:
type(grocery_shoping)

list

In [3]:
grocery_shoping = ['milk','soap','cooking oil']

In [4]:
student_details = ["Chetan",78,"Maths",74.5]

In [5]:
grocery_shoping[-1]

'cooking oil'

In [6]:
grocery_shoping[2]

'cooking oil'

In [7]:
grocery_shoping[0:2]

['milk', 'soap']

In [10]:
grocery_shoping[-1:0:-1]

['cooking oil', 'soap']

In [34]:
grocery_shoping[::-1]

['cooking oil', 'soap', 'milk', 'bread']

In [11]:
grocery_shoping = ['milk','soap','cooking oil','milk']
grocery_shoping

['milk', 'soap', 'cooking oil', 'milk']

In [12]:
grocery_shoping.pop()

'milk'

In [13]:
grocery_shoping

['milk', 'soap', 'cooking oil']

In [14]:
grocery_shoping.append('bread')

In [15]:
grocery_shoping

['milk', 'soap', 'cooking oil', 'bread']

In [19]:
grocery_shoping.pop()

'bread'

In [20]:
grocery_shoping.insert(0,'bread')

In [21]:
grocery_shoping

['bread', 'milk', 'soap', 'cooking oil']

Sets
- 1 Dimentional
- Heterogenous
- Mutable
- No indexing & slicing
- No duplicate values allowed

In [22]:
empty_cart = set()

In [23]:
type(empty_cart)

set

In [25]:
vegetables_list = {'Tomato','Potato','Coriander','Onion',1,2,1,5,120.50}
vegetables_list

{1, 120.5, 2, 5, 'Coriander', 'Onion', 'Potato', 'Tomato'}

In [26]:
vegetables_list[0]

TypeError: 'set' object is not subscriptable

In [27]:
vegetables_list[0:5]

TypeError: 'set' object is not subscriptable

In [28]:
vegetables_list = {'Tomato','Potato','Coriander','Tomato','Onion','Coriander',1,2,1,5,5,120.50}
vegetables_list

{1, 120.5, 2, 5, 'Coriander', 'Onion', 'Potato', 'Tomato'}

In [29]:
vegetables_list.add(2.5)
vegetables_list

{1, 120.5, 2, 2.5, 5, 'Coriander', 'Onion', 'Potato', 'Tomato'}

In [30]:
vegetables_list.clear()
vegetables_list

set()

Tuple
- 1D
- Heterogenous
- Indexable/Sliceable
- Immutable
- Allows duplicate values

In [35]:
empty_cart = ()

In [36]:
type(empty_cart)

tuple

In [37]:
vegetables_list_2 = ('Tomato','Potato','Oats','Milk',2,5,1,2.5,1000)
vegetables_list_2

('Tomato', 'Potato', 'Oats', 'Milk', 2, 5, 1, 2.5, 1000)

In [38]:
vegetables_list_2[3]

'Milk'

In [39]:
vegetables_list_2[:5]

('Tomato', 'Potato', 'Oats', 'Milk', 2)

In [40]:
vegetables_list_2[0] = 'Onion'

TypeError: 'tuple' object does not support item assignment

In [41]:
vegetables_list_2 = ('Tomato','Potato','Oats','Milk',2,5,1,2.5,1000,'Tomato',5,1000)
vegetables_list_2

('Tomato', 'Potato', 'Oats', 'Milk', 2, 5, 1, 2.5, 1000, 'Tomato', 5, 1000)

Dictionary (Key & Value Pair)
- 2D
- Indexing is not possible
- Slicing is not possible
- Cannot contain duplicate keys but it allows duplicate values
- Mutable

In [42]:
empty_cart_2 = {}

In [43]:
type(empty_cart_2)

dict

In [44]:
empty_cart_3 = dict()

In [45]:
type(empty_cart_3)

dict

In [46]:
details = {'fname':["Chetan", "Harshal"],'lname':["Lahamge","Patil"],'age':[30,22]}

In [47]:
details

{'fname': ['Chetan', 'Harshal'],
 'lname': ['Lahamge', 'Patil'],
 'age': [30, 22]}

In [48]:
details[1]

KeyError: 1

In [49]:
details[0:2]

KeyError: slice(0, 2, None)

In [50]:
# Can not contain duplicate keys

details = {'fname':["Chetan", "Harshal"],'lname':["Lahamge","Patil"],'age':[30,22],'fname':['Smita','Chetashree']}
details

{'fname': ['Smita', 'Chetashree'],
 'lname': ['Lahamge', 'Patil'],
 'age': [30, 22]}

In [51]:
# Allows duplicate values

details = {'fname':["Chetan", "Harshal","Chetan","Harshal"],'lname':["Lahamge","Patil"],'age':[30,22]}
details

{'fname': ['Chetan', 'Harshal', 'Chetan', 'Harshal'],
 'lname': ['Lahamge', 'Patil'],
 'age': [30, 22]}

In [52]:
details.keys()

dict_keys(['fname', 'lname', 'age'])

In [53]:
details.values()

dict_values([['Chetan', 'Harshal', 'Chetan', 'Harshal'], ['Lahamge', 'Patil'], [30, 22]])

In [55]:
details.pop('fname')

['Chetan', 'Harshal', 'Chetan', 'Harshal']

In [56]:
details

{'lname': ['Lahamge', 'Patil'], 'age': [30, 22]}

In [58]:
import pandas as pd

In [61]:
details = {'fname':["Chetan", "Harshal"],'lname':["Lahamge","Patil"],'age':[30,22]}
details

{'fname': ['Chetan', 'Harshal'],
 'lname': ['Lahamge', 'Patil'],
 'age': [30, 22]}

In [63]:
details_df = pd.DataFrame(details)

In [64]:
details_df

     fname    lname  age
0   Chetan  Lahamge   30
1  Harshal    Patil   22

### Task -3 Work on 2 Examples for List, Set, Tuple & Dictionary along with their Methods