In [1]:
from scipy import stats

## Example

- Null Hypothesis: Average height of Pune Citizens is 170 cm
- Alternate Hypothesis: Average height of Pune citizens is not 170 cm

In [2]:
sample_hight_data = [165,172,168,170,169,171,173]

In [4]:
t_stats, p_value = stats.ttest_1samp(sample_hight_data,170)

In [5]:
print(p_value)

0.7881667206676277

In [6]:
if p_value<0.05:
    print("Reject the Null Hypothesis")
else:
    print("Accept the Null Hypothesis")

Accept the Null Hypothesis

### Example of 2 sample t test

- Null Hypothesis = Both teaching methods performing well
- Alternate Hypothesis = Both teaching methods not performing well

In [7]:
group_a_test_results = [78,85,88,92,76,81,75,89] # Score for Method 1
group_b_test_results = [82,84,86,90,78,80,77,85] # Score for Method 2

In [9]:
tstas, pval = stats.ttest_ind(group_a_test_results,group_b_test_results,equal_var=True)

In [10]:
alpha = 0.05

if pval < alpha:
    print("Reject the null hypotheis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis

### Chi- Squared Test

- Is there any association between 2 or more qualitative features.

In [9]:
import seaborn as sns
import pandas as pd
from scipy import stats

In [10]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [11]:
tips_data = sns.load_dataset('tips')
tips_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Hypothesis Formulation

- H0 - There is no association between Sex and Smoker
- Ha - There is association between Sex and Smoker

Significance level - 0.05

In [12]:
sex_vs_smoker = pd.crosstab(index=tips_data['sex'],columns=tips_data['smoker'])

In [13]:
sex_vs_smoker

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [15]:
chi2_value, p_val, dof, expected_frq_table =stats.chi2_contingency(observed=sex_vs_smoker)

In [16]:
chi2_value

np.float64(0.0)

In [17]:
dof

1

In [18]:
expected_frq_table

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [19]:
p_val

np.float64(1.0)

In [21]:
alpha = 0.05

if p_val < alpha:
    print("Reject the Null Hypothesis")
else:
    print("Failed to reject the Null Hypothesis")

Failed to reject the Null Hypothesis

## Example -2 

- H0: There is no association between day & smoker
- Ha: There is association between day & smoker

In [23]:
smoker_vs_day = pd.crosstab(index=tips_data['day'],columns=tips_data['smoker'])
smoker_vs_day

smoker  Yes  No
day
Thur     17  45
Fri      15   4
Sat      42  45
Sun      19  57

In [24]:
stats.chi2_contingency(observed=smoker_vs_day)

Chi2ContingencyResult(statistic=np.float64(25.787216672396262), pvalue=np.float64(1.0567572499836523e-05), dof=3, expected_freq=array([[23.63114754, 38.36885246],
       [ 7.24180328, 11.75819672],
       [33.15983607, 53.84016393],
       [28.96721311, 47.03278689]]))

### ANOVA Test (Analysis of Variance)

In [27]:
student_marks = pd.DataFrame({'students':[1,2,3,4,5,6,7,8],'Method_A':[80,90,95,85,75,79,88,87],'Method_B':[78,75,74,73,65,80,63,68],'Method_C':[92,96,100,85,83,94,91,93]})

In [28]:
student_marks

   students  Method_A  Method_B  Method_C
0         1        80        78        92
1         2        90        75        96
2         3        95        74       100
3         4        85        73        85
4         5        75        65        83
5         6        79        80        94
6         7        88        63        91
7         8        87        68        93

- H0: At least one method is significantly different than others
- Ha: There is no significant difference between the methods

In [29]:
f_stats, p_val = stats.f_oneway(student_marks['Method_A'],student_marks['Method_B'],student_marks['Method_C'])

In [30]:
p_val

np.float64(7.4972865179650444e-06)

In [31]:
alpha  = 0.05

In [32]:
if p_val < alpha:
    print('Reject the Null Hypothesis')
else:
    print("Failed to Reject Null Hypothesis")

Reject the Null Hypothesis